/* CSS RESETS */
html, body, h1, h2, h3 {
	margin: 0px;
	padding: 0px;
}

* {
	box-sizing: border-box;
}

/* TYPO*/

@font-face {        |
    font-family: OpenSans; 
    src: url(OpenSans-Regular.ttf); 
}

body {
	color: #000000;
	font-family: 'OpenSans', 'OpenSans-Regular' 
}


h2 {
	text-align: left;
	font-size: 11px;
	font-weight: bold;
	margin-left: 31px;
	padding-top: 5px;
}

h3 {
	text-align: left;
	font-size: 11px;
	font-weight: normal;
	margin-left: 31px;
}

.box1 {
	width: 1280px;
	height: 65px;
	background-color: #28282d;
}

.box2 {
	width: 54px;
	height: 718px;
	background-color: #313136;
	overflow: hidden;
	float: left;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.box2Gross {
	width: 198px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.gruppeUnternander {
	float: left;
	width: 297px;
}
.box3 {
	width: 297px;
	height: 206px;
	background-color: #faf9f9;
}

.box4 {
	width: 800px;
	height: 718px;
	background-color: #ffffff;
	float: left;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.box5 {
	width: 297px;
	height: 513px;
	background-color: #f5f4f4;
}

.box4kleiner {
	width: 650px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.clear {
	clear: both;
}

.absOben {
	margin-top: 30px;
}

.bild {
	width:198px;
}

.linie {
	background-color: #e6e6e6;
	width: 297px;
	height: 1px;
}


